<header class="d-flex flex-row align-items-center justify-content-between px-5 bg-white border-bottom fixed-top shadow-sm">
    <img src="assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px;" routerLink="/">

    <nav class="my-1 text-uppercase fs-4">
        <a class="p-1" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
        <a class="p-1" routerLink="/pokemons" routerLinkActive="active">Pokemons</a>
        <a class="p-1" routerLink="/favorites" routerLinkActive="active">Favoritos</a>
    </nav>
</header>
